In [1]:
import pandas as pd

In [2]:
data = {
    "producto": ["Manzanas","Naranjas","Platanos","Uvas","Peras"],
    "Precio": [100,80,60,120,90]
}

df = pd.DataFrame(data)
df

   producto  Precio
0  Manzanas     100
1  Naranjas      80
2  Platanos      60
3      Uvas     120
4     Peras      90

In [3]:
#si queremos hacer busqueda y manipulaciones basadas en el producto
#cambiamos el indice por el producto
df.set_index("producto", inplace=True)
df

          Precio
producto
Manzanas     100
Naranjas      80
Platanos      60
Uvas         120
Peras         90

In [4]:
#operaciones con indices
precios_uvas = df.loc["Uvas"]
precios_uvas

Precio    120
Name: Uvas, dtype: int64

In [6]:
#cambiar orden de los indices, reindexar el dataframe
nuevo_orden = ["Uvas", "Manzanas", "Naranjas", "Peras", "Platanos", "Melones"] #se puede agregar un nuevo producto
df_reindexado = df.reindex(nuevo_orden)
df_reindexado

          Precio
producto
Uvas       120.0
Manzanas   100.0
Naranjas    80.0
Peras       90.0
Platanos    60.0
Melones      NaN

In [8]:
#conjunto de indices
#como los diagramas de benn, union, interseccion, diferencia, etc
index2 = pd.Index(["Manzanas","Peras","Melones"])
#declaracion de la interseccion
interseccion = df.index.intersection(index2)
interseccion

Index(['Manzanas', 'Peras'], dtype='object')

In [9]:
#los indices son inmutables
#pueden ser de diferentes tipos, de todo tipo