In [1]:
import pandas as pd

In [2]:
data = {
    "Producto": ["Manzanas","Naranjas","Platanos","Manzanas","Peras"],
    "Precio": [100,80,60,100,90],
    "Stock": [30,50,20,30,40]
}

df = pd.DataFrame(data)
df

   Producto  Precio  Stock
0  Manzanas     100     30
1  Naranjas      80     50
2  Platanos      60     20
3  Manzanas     100     30
4     Peras      90     40

In [5]:
#valors unicos de una columna
valores_unicos = df.nunique()
print("Valores unicos por columna:\n", valores_unicos)
#es decir, valores no repetidos en cantidad

Valores unicos por columna:
 Producto    4
Precio      4
Stock       4
dtype: int64

In [7]:
#frecuencia de los valores
frecuencia_productos = df["Producto"].value_counts()
print("Frecuencia de productos:\n", frecuencia_productos)
#es deicr, que tanto se repiten los valores

Frecuencia de productos:
 Producto
Manzanas    2
Naranjas    1
Platanos    1
Peras       1
Name: count, dtype: int64

In [9]:
#calculo de la moda
moda_precio = df["Precio"].mode()
print("Moda de precios:\n", moda_precio)

Moda de precios:
 0    100
Name: Precio, dtype: int64