In [1]:
import pandas as pd

In [2]:
data = {
    'Empleado': ['Juan','Ana','Pedro','Luis','Maria','Ana','Pedro','Luis','Maria'],
    'Departamento': ['Ventas','Marketing','Ventas','IT','Marketing','IT','Ventas','Marketing','Ventas'],
    'Salario': [50000,60000,55000,58000,62000,60000,55000,58000,62000],
    'Experiencia': [5,7,6,8,9,7,6,8,9]
}

df = pd.DataFrame(data)
display(df)

  Empleado Departamento  Salario  Experiencia
0     Juan       Ventas    50000            5
1      Ana    Marketing    60000            7
2    Pedro       Ventas    55000            6
3     Luis           IT    58000            8
4    Maria    Marketing    62000            9
5      Ana           IT    60000            7
6    Pedro       Ventas    55000            6
7     Luis    Marketing    58000            8
8    Maria       Ventas    62000            9

In [3]:
#categorizacion de cada elemento
df['Departamento'] = df['Departamento'].astype('category')
df['Departamento']

0       Ventas
1    Marketing
2       Ventas
3           IT
4    Marketing
5           IT
6       Ventas
7    Marketing
8       Ventas
Name: Departamento, dtype: category
Categories (3, object): ['IT', 'Marketing', 'Ventas']

In [4]:
#enlistar las categorias
df['Departamento'].cat.categories

Index(['IT', 'Marketing', 'Ventas'], dtype='object')

In [5]:
#enlistar los codigos
df['Departamento'].cat.codes
#indice de las cateorias

0    2
1    1
2    2
3    0
4    1
5    0
6    2
7    1
8    2
dtype: int8

In [6]:
#reordenacion de categorias
df['Departamento'] = df['Departamento'].cat.reorder_categories(['Marketing','IT','Ventas'], ordered=True)
display(df['Departamento'])

0       Ventas
1    Marketing
2       Ventas
3           IT
4    Marketing
5           IT
6       Ventas
7    Marketing
8       Ventas
Name: Departamento, dtype: category
Categories (3, object): ['Marketing' < 'IT' < 'Ventas']

In [9]:
#agregar categorias
df['Departamento'] = df['Departamento'].cat.add_categories(['Recursos Humanos'])
display(df['Departamento'])

0       Ventas
1    Marketing
2       Ventas
3           IT
4    Marketing
5           IT
6       Ventas
7    Marketing
8       Ventas
Name: Departamento, dtype: category
Categories (4, object): ['Marketing' < 'IT' < 'Ventas' < 'Recursos Humanos']

In [10]:
#remover categorias
df['Departamento'] = df['Departamento'].cat.remove_categories(['Recursos Humanos'])
display(df['Departamento'])

0       Ventas
1    Marketing
2       Ventas
3           IT
4    Marketing
5           IT
6       Ventas
7    Marketing
8       Ventas
Name: Departamento, dtype: category
Categories (3, object): ['Marketing' < 'IT' < 'Ventas']

In [13]:
#conversion de categorias a datos numericos (usado para machine learning)
#codificacion one_hot
one_hot = pd.get_dummies(df['Departamento'], prefix='Departamento')
display(one_hot)

   Departamento_Marketing  Departamento_IT  Departamento_Ventas
0                   False            False                 True
1                    True            False                False
2                   False            False                 True
3                   False             True                False
4                    True            False                False
5                   False             True                False
6                   False            False                 True
7                    True            False                False
8                   False            False                 True

In [14]:
#uso de funciones en agrupaciones categoricas
agrupacion_categorica = df.groupby('Departamento')['Salario'].sum()
display(agrupacion_categorica)

C:\Users\fach7\AppData\Local\Temp\ipykernel_23012\1750946515.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  agrupacion_categorica = df.groupby('Departamento')['Salario'].sum()

Departamento
Marketing    180000
IT           118000
Ventas       222000
Name: Salario, dtype: int64