In [3]:
import pandas as pd

In [4]:
#datos temporales
#creacion de fechas
#pongo desde que dia empiezo, luego el periodo, la frecuencia en la que se van esos periodos
fechas = pd.date_range(start='2020-01-01', periods=6,freq='D')
#creacion de valores
valores = [34,44,65,53,39,76]
serie_temporal = pd.Series(valores, index=fechas)
print(serie_temporal)

2020-01-01    34
2020-01-02    44
2020-01-03    65
2020-01-04    53
2020-01-05    39
2020-01-06    76
Freq: D, dtype: int64

In [5]:
#datos especificos asociados
print(serie_temporal["2020-01-04"], "\n")
#de una fecha a otra
print(serie_temporal["2020-01-04":"2020-01-06"])

53

2020-01-04    53
2020-01-05    39
2020-01-06    76
Freq: D, dtype: int64

In [6]:
#data frames con datos temporales
data = {
    "Fecha": pd.date_range(start='2020-01-01', periods=6,freq='D'),
    "ventas": [345,456,567,678,234,590]
}
df=pd.DataFrame(data)
df

       Fecha  ventas
0 2020-01-01     345
1 2020-01-02     456
2 2020-01-03     567
3 2020-01-04     678
4 2020-01-05     234
5 2020-01-06     590

In [7]:
#establecer fechas como indicie
df.set_index("Fecha", inplace=True)
df

            ventas
Fecha
2020-01-01     345
2020-01-02     456
2020-01-03     567
2020-01-04     678
2020-01-05     234
2020-01-06     590

In [8]:
#operaciones con los DF o series
#media de ventas
resumen_mensual = df.resample('ME').mean()
resumen_mensual

                ventas
Fecha
2020-01-31  478.333333

In [10]:
#shifting y diferenciacion de datos
#desplaza los datos en el tiempo
df["ventas_desplazadas"] = df["ventas"].shift(1)
#calcula la diferencia a su anterior
df["cambio_ventas"] = df["ventas"].diff()

print(df)

            ventas  ventas_desplazadas  cambio_ventas
Fecha
2020-01-01     345                 NaN            NaN
2020-01-02     456               345.0          111.0
2020-01-03     567               456.0          111.0
2020-01-04     678               567.0          111.0
2020-01-05     234               678.0         -444.0
2020-01-06     590               234.0          356.0