In [1]:
import pandas as pd

In [6]:
data = {
    "producto": ["Manzanas","Naranjas","Platanos","Uvas","Peras"],
    "Precio": [100,80,60,120,90],
    "stock": [30,50,20,60,40]
}

df = pd.DataFrame(data)
df

   producto  Precio  stock
0  Manzanas     100     30
1  Naranjas      80     50
2  Platanos      60     20
3      Uvas     120     60
4     Peras      90     40

In [9]:
#acceso a las columnas
precios = df["Precio"]
precios

0    100
1     80
2     60
3    120
4     90
Name: Precio, dtype: int64

In [13]:
#accseo a filas 
#accseo por etiquetas del eje
productoNan = df.loc[1]
print(productoNan)

#accseo por poscision
productoNan = df.iloc[1,0]
print(productoNan)

producto    Naranjas
Precio            80
stock             50
Name: 1, dtype: object
Naranjas

In [15]:
#filtracion de datos
#en este caso con precio
df_preciosaltos = df[df["Precio"]>80]
df_preciosaltos
#uso de operadores relacionales, logicos, etc

   producto  Precio  stock
0  Manzanas     100     30
3      Uvas     120     60
4     Peras      90     40

In [18]:
#indexacion con operador where
#busca que la condicion se cumpla y respeta el data, sin embargo, el que no, le aplica x metodo que deseemos
df_where = df["Precio"].where(df["Precio"]>80, other=0)
df_where

0    100
1      0
2      0
3    120
4     90
Name: Precio, dtype: int64

In [20]:
#metodo que aplica un condicional dado
df_query=df.query("Precio > 80")
df_query

   producto  Precio  stock
0  Manzanas     100     30
3      Uvas     120     60
4     Peras      90     40