In [2]:
import pandas as pd

data = {
    'Producto': ['Manzanas','Naranjas','Platanos','Uvas','Peras'],
    'Precio': [100,80,60,120,90],
    'Stock': [30,50,20,60,40]
}

#Creacion del dataframe
df = pd.DataFrame(data)
df

   Producto  Precio  Stock
0  Manzanas     100     30
1  Naranjas      80     50
2  Platanos      60     20
3      Uvas     120     60
4     Peras      90     40

In [4]:
#Filtrado de Datos
#filtrado con condicionales
#el filtro mas sencillo
filtro_precio = df[df['Precio'] > 80]
print("Productos con precio mayor a 80:\n", filtro_precio)

Productos con precio mayor a 80:
    Producto  Precio  Stock
0  Manzanas     100     30
3      Uvas     120     60
4     Peras      90     40

In [6]:
#Filtro multiple
#dos evaluaciones dentro del condicional
filtro_multiple = df[(df['Precio'] > 80) & (df['Stock'] > 30)]
print("Productos con precio mayor a 80 y stock mayor a 30:\n", filtro_multiple)
#En la sintaxis de pandas, and es & y el or es |

Productos con precio mayor a 80 y stock mayor a 30:
   Producto  Precio  Stock
3     Uvas     120     60
4    Peras      90     40

In [7]:
#Filtrado, por filas Basadas en texto
filtro_texto = df[df['Producto'].str.contains('a')]
print("Productos que contienen la letra 'a':\n", filtro_texto)
#notese que se ocupa funciones de str y contains

Productos que contienen la letra 'a':
    Producto  Precio  Stock
0  Manzanas     100     30
1  Naranjas      80     50
2  Platanos      60     20
3      Uvas     120     60
4     Peras      90     40

In [8]:
#filtrado por columnas
#no me es convincente, solo tomo las columnas que me interesan del arreglo 
filtro_columnas = df[['Producto','Precio']]
print("Seleccionar columnas 'Producto' y 'Precio':\n", filtro_columnas)

Seleccionar columnas 'Producto' y 'Precio':
    Producto  Precio
0  Manzanas     100
1  Naranjas      80
2  Platanos      60
3      Uvas     120
4     Peras      90

In [10]:
#filtrado por metodos mas especifocos
#metodo de uso .query
#permite filtrar datos usando una cadena de consultas
filtro_query = df.query('Precio > 80')
print("Productos con precio mayor a 80 usando query:\n", filtro_query)
#notese que usamos una cadena de texto

Productos con precio mayor a 80 usando query:
    Producto  Precio  Stock
0  Manzanas     100     30
3      Uvas     120     60
4     Peras      90     40

In [12]:
#metodo isin
filtro_isin = df[df['Producto'].isin(['Manzanas','Uvas'])]
#con este metodo solo veremos las filas que contengans el argumento dentro de isin
print("Productos que son 'Manzanas' o 'Uvas':\n", filtro_isin)

Productos que son 'Manzanas' o 'Uvas':
    Producto  Precio  Stock
0  Manzanas     100     30
3      Uvas     120     60