In [1]:
import pandas as pd

In [2]:
data = {
    'Producto': ['A','B','C'],
    'Ventas': [250,150,300],
    'Ciudad': ['Lima','Bogota','Santiago'],
    'Fecha': ['2024-01-01','2024-02-01','2024-03-01']
}

df = pd.DataFrame(data)
display(df)

  Producto  Ventas    Ciudad       Fecha
0        A     250      Lima  2024-01-01
1        B     150    Bogota  2024-02-01
2        C     300  Santiago  2024-03-01

In [4]:
#reordenamiento con columnas
df_reordenado = df[['Fecha', 'Producto', 'Ventas', 'Ciudad']]
display(df_reordenado)

        Fecha Producto  Ventas    Ciudad
0  2024-01-01        A     250      Lima
1  2024-02-01        B     150    Bogota
2  2024-03-01        C     300  Santiago

In [6]:
#seleccionar columnas
#manera tradicional
df_seleccion = df[['Producto','Ventas']]
display(df_seleccion)

  Producto  Ventas
0        A     250
1        B     150
2        C     300

In [7]:
#seleccion flexible, sintaxis mas compleja
df_loc = df.loc[:, ['Producto', 'Ciudad']] #en los dos puntos se puede definir un intervalo de filas
display(df_loc)

  Producto    Ciudad
0        A      Lima
1        B    Bogota
2        C  Santiago

In [9]:
#filtrados condicionales
#quitar una columna, en este caso la fecha
df_sin_fecha = df.drop(columns=['Fecha'])
display(df_sin_fecha)

  Producto  Ventas    Ciudad
0        A     250      Lima
1        B     150    Bogota
2        C     300  Santiago

In [10]:
#para aplicar los filtrados condicionales
#manera tradicional
#solo se puede un filtro de columnas y uno para filas
df[df['Ventas'] > 200][['Producto','Ventas']]

  Producto  Ventas
0        A     250
2        C     300

In [12]:
#usando loc
#este es el metod mas eficiente
df.loc[df['Ventas']>200, ['Producto', 'Ventas']]

  Producto  Ventas
0        A     250
2        C     300