In [1]:
import pandas as pd

In [2]:
data = {
    'Producto': ['A','B','A', 'C'],
    'Ventas': [250,150,250,300],
    'Ciudad': ['Lima','Lima','Lima','Bogota']
}

df = pd.DataFrame(data)
display(df)

  Producto  Ventas  Ciudad
0        A     250    Lima
1        B     150    Lima
2        A     250    Lima
3        C     300  Bogota

In [5]:
#identificar duplicados
duplicados = df.duplicated()
display(df[duplicados])

  Producto  Ventas Ciudad
2        A     250   Lima

In [6]:
df_sin_duplicados = df.drop_duplicates()
display(df_sin_duplicados)

  Producto  Ventas  Ciudad
0        A     250    Lima
1        B     150    Lima
3        C     300  Bogota

In [12]:
data_conflicto = {
    'Producto': ['A','B','C'],
    'VentasFuente1': [250,150,300],
    'VentasFuente2': [260,140,300]
}

df_conflicto = pd.DataFrame(data_conflicto)
display(df_conflicto)

  Producto  VentasFuente1  VentasFuente2
0        A            250            260
1        B            150            140
2        C            300            300

In [14]:
#resolver valores inconsistentes
df_conflicto['VentasResueltas'] = df_conflicto[['VentasFuente1', 'VentasFuente2']].max(axis=1)
display(df_conflicto)
#podemos usar mas metodos que solo max, como media o mediana, etc

  Producto  VentasFuente1  VentasFuente2  VentasResueltas
0        A            250            260              260
1        B            150            140              150
2        C            300            300              300

In [18]:
#si combinamos datos, podemos llegar a tener valores faltantes
data_faltantes = {
    'Producto': ['A','B','C'],
    'VentasFuente1': [250,None,300],
    'VentasFuente2': [260,140,None]
}

df_faltantes = pd.DataFrame(data_faltantes)
display(df_faltantes)

  Producto  VentasFuente1  VentasFuente2
0        A          250.0          260.0
1        B            NaN          140.0
2        C          300.0            NaN

In [19]:
#rellenar datos faltantes
df_faltantes['VentasResueltas'] = df_faltantes['VentasFuente1'].combine_first(df_faltantes['VentasFuente2'])
display(df_faltantes)

  Producto  VentasFuente1  VentasFuente2  VentasResueltas
0        A          250.0          260.0            250.0
1        B            NaN          140.0            140.0
2        C          300.0            NaN            300.0

In [20]:
#metodos de interpolacion
df_faltantes['VentasResueltas'] = df_faltantes['VentasFuente1'].interpolate()
display(df_faltantes)

  Producto  VentasFuente1  VentasFuente2  VentasResueltas
0        A          250.0          260.0            250.0
1        B            NaN          140.0            275.0
2        C          300.0            NaN            300.0