In [1]:
import pandas as pd

In [42]:
data = {
    'Producto': ['A','B','C','D'],
    'Ventas': [250,None,300,-700],
    'Precio': [10.5,20.0,None,15.0]
}

df = pd.DataFrame(data)
display(df)

  Producto  Ventas  Precio
0        A   250.0    10.5
1        B     NaN    20.0
2        C   300.0     NaN
3        D  -700.0    15.0

In [43]:
#saber donde estan los datos faltantes
df.isna()

   Producto  Ventas  Precio
0     False   False   False
1     False    True   False
2     False   False    True
3     False   False   False

In [44]:
#saber los valores faltantes en cada columna
df.isna().sum()

Producto    0
Ventas      1
Precio      1
dtype: int64

In [45]:
#verificar valores duplicados
data2 = {
    'Producto': ['A','B','A','C'],
    'Ventas': [250,150,250,300]
}
df_duplicado = pd.DataFrame(data2)
display(df_duplicado)

  Producto  Ventas
0        A     250
1        B     150
2        A     250
3        C     300

In [46]:
#datos duplicados
df_duplicado.duplicated()

0    False
1    False
2     True
3    False
dtype: bool

In [47]:
#eliminar datos duplicados
df_sin_duplicados = df_duplicado.drop_duplicates()
display(df_sin_duplicados)

  Producto  Ventas
0        A     250
1        B     150
3        C     300

In [48]:
#validar rangos de valores
#combinacion de comparaciones
ventas_validas = (df['Ventas'] >= 0) & (df['Ventas'] <= 500)
display(ventas_validas)

0     True
1    False
2     True
3    False
Name: Ventas, dtype: bool

In [49]:
#filtrar filas por el rango correcto
ventas_fuera_de_rango = df[~ventas_validas]
display(ventas_fuera_de_rango)

  Producto  Ventas  Precio
1        B     NaN    20.0
3        D  -700.0    15.0

In [50]:
#validar formato de datos
dataF = {
    'Producto': ['A','B','C'],
    'Fecha': ['2024-01-01','2024-02-30','2024-03-15']
}

df_fechas = pd.DataFrame(dataF)
display(df_fechas)

  Producto       Fecha
0        A  2024-01-01
1        B  2024-02-30
2        C  2024-03-15

In [51]:
#convertir la columna fechas generando errores si el formato es incorrecto
df_fechas['FechaInvalida'] = pd.to_datetime(df_fechas['Fecha'], errors='coerce')
display(df_fechas)

  Producto       Fecha FechaInvalida
0        A  2024-01-01    2024-01-01
1        B  2024-02-30           NaT
2        C  2024-03-15    2024-03-15

In [52]:
#pruebas de calidad PERSONALIZADAS
#verificar que no hay productos con ventas negativas
def validarventasneg(df):
    if(df['Ventas'] < 0).any():
        print("Existen ventas negativas.")
    else:
        print("No hay ventas negativas")

validarventasneg(df)

Existen ventas negativas.

In [57]:
#funcion assert para validaciones
#ver valores faltantes en la columna ventas
assert df['Ventas'].notna().all(), "Hay valores faltantes en la columna Ventas"
#cuando no se cumple la condicion lanza el error assertionError
#evitar el error con un conducional

AssertionError: Hay valores faltantes en la columna Ventas