In [1]:
import pandas as pd

In [2]:
#separar columnas basadas por un delimitador

data = {
    'Nombre_Completo': ['Juan Perez', 'Maria Gomez', 'Luis Martinez']
}

df = pd.DataFrame(data)
display(df)

  Nombre_Completo
0      Juan Perez
1     Maria Gomez
2   Luis Martinez

In [3]:
#separar por nombre y apellido
df[['Nombre','Apellido']] = df['Nombre_Completo'].str.split(' ', expand=True)
display(df)

  Nombre_Completo Nombre  Apellido
0      Juan Perez   Juan     Perez
1     Maria Gomez  Maria     Gomez
2   Luis Martinez   Luis  Martinez

In [4]:
#separar columnas con varios delimitadores
data2 = {
    'Fecha': ['01-01-2024', '15-02-2024', '30-03-2024']
}

df_fechas = pd.DataFrame(data2)
display(df_fechas)

        Fecha
0  01-01-2024
1  15-02-2024
2  30-03-2024

In [5]:
df_fechas[['Dia','Mes','Año']] = df_fechas['Fecha'].str.split('-', expand=True)
display(df_fechas)

        Fecha Dia Mes   Año
0  01-01-2024  01  01  2024
1  15-02-2024  15  02  2024
2  30-03-2024  30  03  2024

In [6]:
#fusionar columnas
#generar la columna nombre completo
df['NombreCompletoNuevo'] = df['Nombre'] + ' ' + df['Apellido']
display(df)

  Nombre_Completo Nombre  Apellido NombreCompletoNuevo
0      Juan Perez   Juan     Perez          Juan Perez
1     Maria Gomez  Maria     Gomez         Maria Gomez
2   Luis Martinez   Luis  Martinez       Luis Martinez

In [9]:
#fusionar columnas con un formato especifico
df_fechas['FechaCompleta'] = df_fechas[['Dia','Mes','Año']].agg('/'.join, axis=1)
display(df_fechas)

        Fecha Dia Mes   Año FechaCompleta
0  01-01-2024  01  01  2024    01/01/2024
1  15-02-2024  15  02  2024    15/02/2024
2  30-03-2024  30  03  2024    30/03/2024

In [10]:
#para delimitadores de diferente tipo se cupa str.estract() pero su argumento deben ser expresiones regulares