In [1]:
import pandas as pd

In [3]:
df = pd.read_xml('datos.xml')
display(df)

,id,author,title,genre,price,publish_date
0,bk101,"Gambardella, Matthew",XML Developer's Guide,Computer,44.95,2000-10-01
1,bk102,"Ralls, Kim",Midnight Rain,Fantasy,5.95,2000-12-16
2,bk103,"Corets, Eva",Maeve Ascendant,Fantasy,5.95,2000-11-17

In [4]:
df.to_xml('datos_exportados.xml', index=False)

In [10]:
tables = pd.read_html('datos.html')
display(tables[0]) #se pone indice porque si no se le pone pondra en una sola tabla todas las tablas que encuentre

              Producto    CategorÃ­a  Precio
0  Ordenador PortÃ¡til  ElectrÃ³nica   800.0
1      Mesa de Comedor       Muebles   300.0
2     Silla de Oficina       Muebles   120.0

In [11]:
df.to_html('datos_exportados.html', index=False)