In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'fecha_inicio': pd.to_datetime(['2024-08-01', '2023-12-15', '2025-07-20']),
    'fecha_fin': pd.to_datetime(['2024-08-10', '2023-12-25', '2025-08-01'])
})

#operacion de ver la diferencia de dias
df['diferencia_dias'] = df['fecha_fin'] - df['fecha_inicio']

display(df)

  fecha_inicio  fecha_fin diferencia_dias
0   2024-08-01 2024-08-10          9 days
1   2023-12-15 2023-12-25         10 days
2   2025-07-20 2025-08-01         12 days

In [5]:
#restar o sumar periodos a fechas
df['una_semana_despues'] = df['fecha_inicio'] + pd.DateOffset(days=7)
df['una_mes_antes'] = df['fecha_inicio'] - pd.DateOffset(months=1)
df['dos_anios_despues'] = df['fecha_inicio'] + pd.DateOffset(years=2)
display(df)

,fecha_inicio,fecha_fin,diferencia_dias,una_semana_despues,una_mes_antes,dos_anios_despues
0,2024-08-01,2024-08-10,9 days,2024-08-08,2024-07-01,2026-08-01
1,2023-12-15,2023-12-25,10 days,2023-12-22,2023-11-15,2025-12-15
2,2025-07-20,2025-08-01,12 days,2025-07-27,2025-06-20,2027-07-20

In [6]:
#comparar fechas
#filtrar fechas donde la fecha de fin es mayor a la fecha de inicio
df_filtrado = df[df['fecha_fin']>df['fecha_inicio']]
display(df_filtrado)

,fecha_inicio,fecha_fin,diferencia_dias,una_semana_despues,una_mes_antes,dos_anios_despues
0,2024-08-01,2024-08-10,9 days,2024-08-08,2024-07-01,2026-08-01
1,2023-12-15,2023-12-25,10 days,2023-12-22,2023-11-15,2025-12-15
2,2025-07-20,2025-08-01,12 days,2025-07-27,2025-06-20,2027-07-20

In [7]:
#operaciones con series temporales
#promedios diarios o mensuales
fechas = pd.date_range(start='2024-01-01', end='2024-12-31', freq='D')
datos = pd.Series(range(len(fechas)), index=fechas)
print(datos)

2024-01-01      0
2024-01-02      1
2024-01-03      2
2024-01-04      3
2024-01-05      4
             ...
2024-12-27    361
2024-12-28    362
2024-12-29    363
2024-12-30    364
2024-12-31    365
Freq: D, Length: 366, dtype: int64

In [8]:
#agrupar por mes
datos_mensuales = datos.resample('ME').mean()
print(datos_mensuales)

2024-01-31     15.0
2024-02-29     45.0
2024-03-31     75.0
2024-04-30    105.5
2024-05-31    136.0
2024-06-30    166.5
2024-07-31    197.0
2024-08-31    228.0
2024-09-30    258.5
2024-10-31    289.0
2024-11-30    319.5
2024-12-31    350.0
Freq: ME, dtype: float64

In [9]:
#para ventanas moviles
datos_rolling = datos.rolling(window=7).mean()
print(datos_rolling)

2024-01-01      NaN
2024-01-02      NaN
2024-01-03      NaN
2024-01-04      NaN
2024-01-05      NaN
              ...
2024-12-27    358.0
2024-12-28    359.0
2024-12-29    360.0
2024-12-30    361.0
2024-12-31    362.0
Freq: D, Length: 366, dtype: float64