In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
df = pd.read_csv('BitcoinHistoricalData.csv')
display(df.head())

         Date      Price       Open       High        Low    Vol. Change %
0  05/14/2025  103,513.9  104,116.3  104,316.0  102,632.9  55.58K   -0.58%
1  05/13/2025  104,119.2  102,794.9  104,972.9  101,510.2  71.91K    1.29%
2  05/12/2025  102,795.0  104,119.2  105,765.2  100,766.8  90.21K   -1.27%
3  05/11/2025  104,119.2  104,748.3  104,930.9  103,358.8  54.76K   -0.65%
4  05/10/2025  104,798.0  102,974.7  104,969.8  102,837.2  48.42K    1.77%

In [23]:
# Buscar columna de fecha y crear df_clean
for col in df.columns:
    convertida = pd.to_datetime(df[col], errors='coerce')
    if convertida.notna().sum() > 0:
        df_clean = pd.DataFrame({col: convertida})
        df_clean.rename(columns={col: "Date"}, inplace=True)
        print(df_clean.head())
        break

        Date
0 2025-05-14
1 2025-05-13
2 2025-05-12
3 2025-05-11
4 2025-05-10

In [24]:
# Lista de etiquetas clave esperadas en nombres de columnas
etiquetas_numericas = [ "precio", "cantidad", "piezas", "monto", "total", "valor", "importe", "price", "amount", "quantity", "pieces", "total", "value", "cost"]

columnas_relevantes = []
for col in df.columns:
    col_lower = col.lower()
    if any(etiqueta in col_lower for etiqueta in etiquetas_numericas):
        print(f"Columna relevante encontrada: {col}")
        # Si es tipo texto y contiene comas como separadores
        if df[col].dtype == 'object':
            if df[col].astype(str).str.contains(',').any():
                df[col] = df[col].str.replace(',', '', regex=False)
                # Intentar convertir a numérico
                df[col] = pd.to_numeric(df[col], errors='coerce')
                columnas_relevantes.append(col)
                # 3. Concatenar fecha + columnas numéricas
                df_clean['cantidad'] = pd.concat([df[columnas_relevantes].copy()], axis=1)
                print(df_clean.head())
                break
print(df_clean.head())

Columna relevante encontrada: Price
      Price
0  103513.9
1  104119.2
2  102795.0
3  104119.2
4  104798.0
      Price
0  103513.9
1  104119.2
2  102795.0
3  104119.2
4  104798.0