In [1]:
import pandas as pd

In [12]:
data = {
    "producto": ["Manzanas","Naranjas","Platanos","Uvas","Peras"],
    "Precio": [100,80,60,120,90],
    "stock": [30,50,20,60,40]
}

df = pd.DataFrame(data)
df

   producto  Precio  stock
0  Manzanas     100     30
1  Naranjas      80     50
2  Platanos      60     20
3      Uvas     120     60
4     Peras      90     40

In [13]:
#el termino Axis se refiere a la dimension de la matriz donde se realiza la operacion
#axis = 0 //eje de indices osea el eje vertical, eje x 
#axis = 1 //eje de columnas, eje horizontal, eje y
#debemos trabajar con sus indices, por lo cual, indexamos las frutas
df.set_index("producto",inplace=True)
df.drop(index="Platanos", axis=0, inplace=True)
df
#OSEA BORRA UNA FILA

          Precio  stock
producto
Manzanas     100     30
Naranjas      80     50
Uvas         120     60
Peras         90     40

In [14]:
#caso contrario
df.drop("stock", axis=1,inplace=True)
df
#OSEA QUE BORRA UNA COLUMNA

          Precio
producto
Manzanas     100
Naranjas      80
Uvas         120
Peras         90