In [1]:
import pandas as pd

In [3]:
s1 = pd.Series([10,20,30], index=['a','b','c'])
s2 = pd.Series([40,50,60,70], index=['b','c','d','e'])

In [4]:
print(s1)
print(s2)

a    10
b    20
c    30
dtype: int64
b    40
c    50
d    60
e    70
dtype: int64

In [5]:
#alineacion de series
#el resultante de la suma de ambas series
resultado = s1+s2
print(resultado)

a     NaN
b    60.0
c    80.0
d     NaN
e     NaN
dtype: float64

In [7]:
#obviar el NaN de la funcion, en este caso rellenar con 0
#los que necesitan pareja para sumarse
resultado_con_fill = s1.add(s2, fill_value=0)
print(resultado_con_fill)

a    10.0
b    60.0
c    80.0
d    60.0
e    70.0
dtype: float64

In [10]:
#alineacion de data frames
df1= pd.DataFrame({'A': [1,2],'B': [3,4]}, index= [1,2])
df2= pd.DataFrame({'B': [5,6],'C': [7,8]}, index= [2,3])
print(df1)
print(df2)

#alineacion basica
resultado_df = df1+df2
resultado_df

   A  B
1  1  3
2  2  4
   B  C
2  5  7
3  6  8

    A    B   C
1 NaN  NaN NaN
2 NaN  9.0 NaN
3 NaN  NaN NaN

In [14]:
#alineacion con fill value
resultadodf_con_fill = df1.add(df2, fill_value=0)
resultadodf_con_fill
#si no hay coincidencia en ambas direcciones obtendremos NaN

     A    B    C
1  1.0  3.0  NaN
2  2.0  9.0  7.0
3  NaN  6.0  8.0