In [1]:
import pandas as pd

In [3]:
fechas = pd.to_datetime(['2024-08-01', '2023-12-15', '2025-07-20'])
df = pd.DataFrame({'fecha': fechas})
display(df)

       fecha
0 2024-08-01
1 2023-12-15
2 2025-07-20

In [4]:
df['año'] = df['fecha'].dt.year
df['mes'] = df['fecha'].dt.month
df['día'] = df['fecha'].dt.day
display(df)

       fecha   año  mes  día
0 2024-08-01  2024    8    1
1 2023-12-15  2023   12   15
2 2025-07-20  2025    7   20

In [5]:
fechas_horas = pd.to_datetime(['2024-08-01 14:30:00', '2023-12-15 09:45:30', '2025-07-20 22:10:15'])
df = pd.DataFrame({'fecha_hora': fechas_horas})
display(df)

           fecha_hora
0 2024-08-01 14:30:00
1 2023-12-15 09:45:30
2 2025-07-20 22:10:15

In [6]:
df['hora'] = df['fecha_hora'].dt.hour
df['minuto'] = df['fecha_hora'].dt.minute
df['segundo'] = df['fecha_hora'].dt.second
display(df)

           fecha_hora  hora  minuto  segundo
0 2024-08-01 14:30:00    14      30        0
1 2023-12-15 09:45:30     9      45       30
2 2025-07-20 22:10:15    22      10       15

In [7]:
df['día_semana_num'] = df['fecha_hora'].dt.weekday
df['día_semana_nombre'] = df['fecha_hora'].dt.day_name()
df['trimestre'] = df['fecha_hora'].dt.quarter
display(df)

,fecha_hora,hora,minuto,segundo,día_semana_num,día_semana_nombre,trimestre
0,2024-08-01 14:30:00,14,30,0,3,Thursday,3
1,2023-12-15 09:45:30,9,45,30,4,Friday,4
2,2025-07-20 22:10:15,22,10,15,6,Sunday,3

In [8]:
df['día_año'] = df['fecha_hora'].dt.dayofyear
df['semana_año'] = df['fecha_hora'].dt.isocalendar().week
display(df)

,fecha_hora,hora,minuto,segundo,día_semana_num,día_semana_nombre,trimestre,día_año,semana_año
0,2024-08-01 14:30:00,14,30,0,3,Thursday,3,214,31
1,2023-12-15 09:45:30,9,45,30,4,Friday,4,349,50
2,2025-07-20 22:10:15,22,10,15,6,Sunday,3,201,29

In [9]:
tendencias_dia_semana = df.groupby('día_semana_nombre').size()
print(tendencias_dia_semana)

día_semana_nombre
Friday      1
Sunday      1
Thursday    1
dtype: int64