In [1]:
import pandas as pd

In [14]:
data = {
    'Producto': ['A', 'B', 'C'],
    'Precio': ['100', '200', '300']
}

df = pd.DataFrame(data)
display(df)

  Producto Precio
0        A    100
1        B    200
2        C    300

In [16]:
df['Precio'] = df['Precio'].astype(float)

df['Precio'] = df['Precio'] * 0.9
display(df)

  Producto  Precio
0        A    90.0
1        B   180.0
2        C   270.0

In [10]:
df['Precio_Final'] = df['Precio'] * 1.1823
display(df)

  Producto  Precio  Precio_Final
0        A    90.0       106.407
1        B   180.0       212.814
2        C   270.0       319.221

In [11]:
df['Categoria'] = pd.cut(df['Precio_Final'],
                         bins=[0, 150, 250, float('inf')],
                         labels=['Barato', 'Moderado', 'Caro'])
display(df)

  Producto  Precio  Precio_Final Categoria
0        A    90.0       106.407    Barato
1        B   180.0       212.814  Moderado
2        C   270.0       319.221      Caro

In [13]:
df['Precio_Final'] = df['Precio_Final'].apply(lambda x: round(x, 2))
display(df)

  Producto  Precio  Precio_Final Categoria
0        A    90.0        106.41    Barato
1        B   180.0        212.81  Moderado
2        C   270.0        319.22      Caro