In [1]:
import pandas as pd

In [2]:
data = {
    'Producto': ['A', 'B', 'A', 'C'],
    'Ventas': [250, 150, 250, 300],
    'Ciudad': ['Lima', 'Lima', 'Lima', 'Bogotá']
}

df = pd.DataFrame(data)
display(df)

  Producto  Ventas  Ciudad
0        A     250    Lima
1        B     150    Lima
2        A     250    Lima
3        C     300  Bogotá

In [4]:
duplicados = df.duplicated()
display(df[duplicados])

  Producto  Ventas Ciudad
2        A     250   Lima

In [5]:
df_sin_duplicados = df.drop_duplicates()
display(df_sin_duplicados)

  Producto  Ventas  Ciudad
0        A     250    Lima
1        B     150    Lima
3        C     300  Bogotá

In [6]:
data_conflicto = {
    'Producto': ['A', 'B', 'C'],
    'Ventas_Fuente1': [250, 150, 300],
    'Ventas_Fuente2': [260, 140, 300]
}

df_conflicto = pd.DataFrame(data_conflicto)
display(df_conflicto)

  Producto  Ventas_Fuente1  Ventas_Fuente2
0        A             250             260
1        B             150             140
2        C             300             300

In [8]:
df_conflicto['Ventas_Resueltas'] = df_conflicto[['Ventas_Fuente1', 'Ventas_Fuente2']].mean(axis=1)
display(df_conflicto)

  Producto  Ventas_Fuente1  Ventas_Fuente2  Ventas_Resueltas
0        A             250             260             255.0
1        B             150             140             145.0
2        C             300             300             300.0

In [9]:
data_faltantes = {
    'Producto': ['A', 'B', 'C'],
    'Ventas_Fuente1': [250, None, 300],
    'Ventas_Fuente2': [260, 140, None]
}

df_faltantes = pd.DataFrame(data_faltantes)
display(df_faltantes)

  Producto  Ventas_Fuente1  Ventas_Fuente2
0        A           250.0           260.0
1        B             NaN           140.0
2        C           300.0             NaN

In [10]:
df_faltantes['Ventas_Resueltas'] = df_faltantes['Ventas_Fuente1'].combine_first(df_faltantes['Ventas_Fuente2'])
display(df_faltantes)

  Producto  Ventas_Fuente1  Ventas_Fuente2  Ventas_Resueltas
0        A           250.0           260.0             250.0
1        B             NaN           140.0             140.0
2        C           300.0             NaN             300.0

In [11]:
df_conflicto['Ventas_Resueltas'] = df_conflicto[['Ventas_Fuente1', 'Ventas_Fuente2']].apply(lambda x: x.mean(), axis=1)
display(df_conflicto)

  Producto  Ventas_Fuente1  Ventas_Fuente2  Ventas_Resueltas
0        A             250             260             255.0
1        B             150             140             145.0
2        C             300             300             300.0

In [ ]:
df['Ventas_Resueltas'] = df['Ventas_Fuente1'].interpolate()