In [1]:
import pandas as pd

In [2]:
data_largo = {
    'Producto': ['A', 'A', 'B', 'B', 'C', 'C'],
    'Mes': ['Enero', 'Febrero', 'Enero', 'Febrero', 'Enero', 'Febrero'],
    'Ventas': [100, 150, 200, 250, 300, 350]
}

df_largo = pd.DataFrame(data_largo)
display(df_largo)

  Producto      Mes  Ventas
0        A    Enero     100
1        A  Febrero     150
2        B    Enero     200
3        B  Febrero     250
4        C    Enero     300
5        C  Febrero     350

In [4]:
df_ancho = df_largo.pivot(index='Producto', columns='Mes', values='Ventas')
display(df_ancho)

Mes       Enero  Febrero
Producto
A           100      150
B           200      250
C           300      350