In [1]:
import pandas as pd
import numpy as np

In [2]:
#crear una serie simple de datos
numeros = pd.Series([1,2,3,4,5])
numeros

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
#crear uan serie simple de datos modificando su index
numeros = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
numeros

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [11]:
#serie a partir de un diccionario 
datos = {'a': 1,'b': 2,'c': 3}
series_dict = pd.Series(datos)
series_dict

a    1
b    2
c    3
dtype: int64

In [14]:
#consultar un dato en indice n
numeros['c']

np.int64(3)

In [17]:
#cambiar un dato con su indice
numeros['a']=10
numeros

a    10
b     2
c     3
d     4
e     5
dtype: int64

In [18]:
#desarrollo de operaciones matematicas
numeros**2 #potencia a cada elemento
numeros + 3 #sumar a cada elemento
#aqui no altero los datos iniciales

a    13
b     5
c     6
d     7
e     8
dtype: int64

In [20]:
#funciones estadisticas para aplicar a los datos
a = numeros.mean() #sacar la media
print("media ",a)
a = numeros.sum() #sumatoria de los elementos
print("sumatoria ",a)
a = numeros.max() #maximo de los elementos
print("maximo ",a)
a = numeros.min() #minimo de los elementos
print("minimp ",a)

media  4.8
sumatoria  24
maximo  10
minimp  2

In [22]:
#condicionales 
##podemos poner condicionales mayor, menores, iguales o distintos de n elemento
a=numeros[numeros<3]
print("menores\n ",a)
a=numeros[numeros>3]
print("mayores\n ",a)
a=numeros[numeros==3]
print("iguales\n ",a)
a=numeros[numeros!=3]
print("distintos\n ",a)

menores
  b    2
dtype: int64
mayores
  a    10
d     4
e     5
dtype: int64
iguales
  c    3
dtype: int64
distintos
  a    10
b     2
d     4
e     5
dtype: int64

In [23]:
#funcion apply
#nos permite aplicar a los elementos funciones que querramos
#ejemplo con logaritmo
numeros.apply(np.log)

a    2.302585
b    0.693147
c    1.098612
d    1.386294
e    1.609438
dtype: float64

In [26]:
#combinacion de series
#serie de nombres
nombres = pd.Series(["Ana","Lola","Pedro"])
#serie de edades
edades = pd.Series([25,30,35])
##constructor llamado data frame para unir las series
df_personas = pd.DataFrame({"Nombre": nombres, "Edad": edades}) #argumentamos con un diccionario para implementar las series
df_personas

  Nombre  Edad
0    Ana    25
1   Lola    30
2  Pedro    35