In [1]:
import pandas as pd

In [2]:
data = {
    "producto": ["Manzanas","Naranjas","Platanos","Uvas","Peras"],
    "Precio": [100,80,60,120,90],
    "stock": [30,50,20,60,40]
}

df = pd.DataFrame(data)
df

   producto  Precio  stock
0  Manzanas     100     30
1  Naranjas      80     50
2  Platanos      60     20
3      Uvas     120     60
4     Peras      90     40

In [9]:
#sumatoria de los precios
suma_precios = df["Precio"].sum()
print("Sumatoria de precios: ", suma_precios)
#media de precios
media_precios = df["Precio"].mean()
print("Media de precios: ", media_precios)
#mediana de precios
mediana_precios = df["Precio"].median()
print ("media de precios: ", mediana_precios)
#maximos o minimos de precios
min_precio = df["Precio"].min()
max_precio = df["Precio"].max()
print("Valor maximo: ", max_precio)
print("Valor Minimo: ", min_precio)
#desviacion estandar y varianza
std_precio = df["Precio"].std()
var_precio = df["Precio"].var()
print("desviacion estandar: ", std_precio)
print("varianza: ", var_precio)

#metodo describe que me dira varias stats de los datos
resumen_precios = df["Precio"].describe()
print("Aplicacion de metodos")
print(resumen_precios)

Sumatoria de precios:  450
Media de precios:  90.0
media de precios:  90.0
Valor maximo:  120
Valor Minimo:  60
desviacion estandar:  22.360679774997898
varianza:  500.0
Aplicacion de metodos
count      5.00000
mean      90.00000
std       22.36068
min       60.00000
25%       80.00000
50%       90.00000
75%      100.00000
max      120.00000
Name: Precio, dtype: float64

In [31]:
#metodos de computacion
#metodo cumsum, suma acumulada 
cumsum_precios = df["Precio"].cumsum()
cumsum_precios
#metodo de cumprod, producto acumulado (multiplicacion)
cumprod_precios = df["Precio"].cumprod()
cumprod_precios
#diferencia discreta a lo largo de un eje
diff_precios = df["Precio"].diff()
diff_precios
#cambio porcentual respecto al eje
pct_change_precios = df["Precio"].pct_change()
pctstring = f"{pct_change_precios*100}%"
print(pctstring)

df["ProductoAcumulado"] = cumprod_precios
df["SumasAcumuladas"] = cumsum_precios
df["DiferenciaDiscreta"] = diff_precios
df["CambioPorcentual"] = pct_change_precios
df

0      NaN
1    -20.0
2    -25.0
3    100.0
4    -25.0
Name: Precio, dtype: float64%

,producto,Precio,stock,SumasAcumuladas,ProductoAcumulado,DiferenciaDiscreta,CambioPorcentual
0,Manzanas,100,30,100,100,NaN,NaN
1,Naranjas,80,50,180,8000,-20.0,-0.20
2,Platanos,60,20,240,480000,-20.0,-0.25
3,Uvas,120,60,360,57600000,60.0,1.00
4,Peras,90,40,450,5184000000,-30.0,-0.25