In [1]:
import pandas as pd

In [2]:
#Definicion del data frame

data = {
    "A": [1,2,None,4,5],
    "B": [None,2,3,4,None],
    "C": [1,2,3,None,5]
}

df = pd.DataFrame(data)
df

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  NaN  3.0  3.0
3  4.0  4.0  NaN
4  5.0  NaN  5.0

In [3]:
#conteo de datos faltantes por columnas
faltantes_columna = df.isnull().sum()
print("Numero de valores faltantes por columna:\n", faltantes_columna)

Numero de valores faltantes por columna:
 A    1
B    2
C    1
dtype: int64

In [7]:
#eliminacion de datos con dropna
#este metodo es agresivo porque elimina toda la fila en donde encuentra la NaN
df_sin_filas_faltantes = df.dropna()
print("DataFrame sin filas con valors faltantes:\n", df_sin_filas_faltantes)

#eliminacion por columnas
df_sin_columnas_faltantes = df.dropna(axis=1)
print("DataFrame sin columnas con valores faltantes:\n", df_sin_columnas_faltantes)

DataFrame sin filas con valors faltantes:
      A    B    C
1  2.0  2.0  2.0
DataFrame sin columnas con valores faltantes:
 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [13]:
#rellenar datos faltantes con valor predeterminado
#funciona igual para columnas
df_rellenado = df.fillna(0)
print("DataFrame con valores faltantes rellenados con 0:\n", df_rellenado)
#rellenado con la media
df_rellenado = df.fillna(df.mean())

DataFrame con valores faltantes rellenados con 0:
      A    B    C
0  1.0  0.0  1.0
1  2.0  2.0  2.0
2  0.0  3.0  3.0
3  4.0  4.0  0.0
4  5.0  0.0  5.0

In [15]:
#uso de metodos respecto a un valor especifico
#es decir, dentro del metodo hay casos para hacer x algoritmo 
#lo podemos poner en el argumento 
df_rellenado_ffill = df.fillna(method="ffill")
print("DataFrame con valores faltantes rellenados con el valor anterior:\n", df_rellenado_ffill)
df_rellenado_bfill = df.fillna(method="bfill")
print("DataFrame con valores faltantes rellenados con el valor siguiente:\n", df_rellenado_bfill)

DataFrame con valores faltantes rellenados con el valor anterior:
      A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  2.0  3.0  3.0
3  4.0  4.0  3.0
4  5.0  4.0  5.0
DataFrame con valores faltantes rellenados con el valor siguiente:
      A    B    C
0  1.0  2.0  1.0
1  2.0  2.0  2.0
2  4.0  3.0  3.0
3  4.0  4.0  5.0
4  5.0  NaN  5.0

C:\Users\fach7\AppData\Local\Temp\ipykernel_14800\206032338.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_rellenado_ffill = df.fillna(method="ffill")
C:\Users\fach7\AppData\Local\Temp\ipykernel_14800\206032338.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_rellenado_bfill = df.fillna(method="bfill")