In [1]:
import pandas as pd

In [3]:
data = {
    'Producto': ['A', 'B', 'C'],
    'Precio': [100, 200, 300]
}

df = pd.DataFrame(data)
display(df)

  Producto  Precio
0        A     100
1        B     200
2        C     300

In [5]:
#descuento del precio del 10%
df['PrecioDesc'] = df['Precio'] * 0.9
display(df)

  Producto  Precio  PrecioDesc
0        A     100        90.0
1        B     200       180.0
2        C     300       270.0

In [14]:
#Precio final con impuestos %18
df['PrecioFinal'] = df['PrecioDesc'] * 1.18
display(df)

  Producto  Precio  PrecioDesc  PrecioFinal Categoria
0        A     100        90.0        106.2    Barato
1        B     200       180.0        212.4  Moderado
2        C     300       270.0        318.6      Caro

In [15]:
#creacion de columnas basadas en condiciones
#categorizar precios por barato, moderado y caro
df['Categoria'] = pd.cut(df['PrecioFinal'],
                         bins=[0,150,250,float('inf')], #float('inf') significa que es hasta infinito el ultimo condicional
                         labels=['Barato','Moderado','Caro'])
display(df)

  Producto  Precio  PrecioDesc  PrecioFinal Categoria
0        A     100        90.0        106.2    Barato
1        B     200       180.0        212.4  Moderado
2        C     300       270.0        318.6      Caro

In [16]:
#funcion personalizada con el metodo apply
df['PrecioFinal'] = df['PrecioFinal'].apply(lambda x: round(x,0))
display(df)

  Producto  Precio  PrecioDesc  PrecioFinal Categoria
0        A     100        90.0        106.0    Barato
1        B     200       180.0        212.0  Moderado
2        C     300       270.0        319.0      Caro

In [17]:
#Transformacion de tipo de datos
data = {
    'Producto': ['A', 'B', 'C'],
    'Precio': ['100', '200', '300']
}

df = pd.DataFrame(data)
display(df)

  Producto Precio
0        A    100
1        B    200
2        C    300

In [19]:
#transformar de texto a float
df['Precio'] = df['Precio'].astype(float)