In [1]:
import pandas as pd

In [2]:
data = {
    'Nombre': ['Ana', 'Juan', 'Pedro'],
    'Edad': [23, 45, 34],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}

df = pd.DataFrame(data)
display(df)

  Nombre  Edad     Ciudad
0    Ana    23     Madrid
1   Juan    45  Barcelona
2  Pedro    34   Valencia

In [4]:
#exportar a csv
df.to_csv('datos8.csv', index=False)

In [6]:
#exportar a excel
df.to_excel('datos8.xlsx', index=False)

In [8]:
#exportar a parquet
#IMPORTANTE, se debe instalar pyarrow y fastparquet
df.to_parquet('datos.parquet')

In [12]:
#exportar en hdf5, formato para archivos binarios
#requiere pytables como tables
df.to_hdf('datos8.h5', key='df', mode='w')

C:\Users\fach7\AppData\Local\Temp\ipykernel_20148\2172045346.py:3: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block0_values] [items->Index(['Nombre', 'Datos'], dtype='object')]

  df.to_hdf('datos8.h5', key='df', mode='w')