In [42]:
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import declarative_base, sessionmaker

In [43]:
#consultas de SQL pero relacionado con la programacion orientada a objetos, un tipo de entity framework
engine = create_engine('sqlite:///empleados_orm.db', echo=True)

In [44]:
#base declarativa
Base = declarative_base()

In [45]:
#crear una sesion para las consultas
Session = sessionmaker(bind=engine)
session = Session()

In [46]:
#definicion de clases que definan tablas
class Empleado(Base):
    __tablename__ = 'empleados'

    id = Column(Integer, primary_key=True)
    nombre = Column(String)
    apellido = Column(String)
    edad = Column(Integer)
    salario = Column(Float)
    departamento = Column(String)

    def __repr__(self):
        return f"<Empleado(nombre='{self.nombre}', apellido='{self.apellido}', departamento='{self.departamento}')>"

In [47]:
#creacion de base de datos y tablas
Base.metadata.create_all(engine)

2025-04-20 22:17:08,507 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-20 22:17:08,509 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("empleados")
2025-04-20 22:17:08,509 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-04-20 22:17:08,510 INFO sqlalchemy.engine.Engine COMMIT

In [49]:
#Insertar datos
nuevo_empleado = Empleado(nombre='Carlos', apellido='Mendez', edad=33, salario=62000, departamento='IT')
session.add(nuevo_empleado)
session.commit()

2025-04-20 22:17:28,132 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-20 22:17:28,132 INFO sqlalchemy.engine.Engine INSERT INTO empleados (nombre, apellido, edad, salario, departamento) VALUES (?, ?, ?, ?, ?)
2025-04-20 22:17:28,133 INFO sqlalchemy.engine.Engine [cached since 18.05s ago] ('Carlos', 'Mendez', 33, 62000.0, 'IT')
2025-04-20 22:17:28,135 INFO sqlalchemy.engine.Engine COMMIT

In [53]:
#consultar datos
empleados_it = session.query(Empleado).filter_by(departamento='IT').all()
for empleado in empleados_it:
    print(empleado)

2025-04-20 22:19:18,911 INFO sqlalchemy.engine.Engine SELECT empleados.id AS empleados_id, empleados.nombre AS empleados_nombre, empleados.apellido AS empleados_apellido, empleados.edad AS empleados_edad, empleados.salario AS empleados_salario, empleados.departamento AS empleados_departamento
FROM empleados
WHERE empleados.departamento = ?
2025-04-20 22:19:18,912 INFO sqlalchemy.engine.Engine [cached since 41.77s ago] ('IT',)
<Empleado(nombre='Carlos', apellido='Mendez', departamento='IT')>
<Empleado(nombre='Carlos', apellido='Mendez', departamento='IT')>
<Empleado(nombre='Carlos', apellido='Mendez', departamento='IT')>
<Empleado(nombre='Carlos', apellido='Mendez', departamento='IT')>

In [54]:
#actualizar datos
empleado = session.query(Empleado).filter_by(nombre='Carlos').first()
empleado.salario = 65000
session.commit()

2025-04-20 22:21:21,325 INFO sqlalchemy.engine.Engine SELECT empleados.id AS empleados_id, empleados.nombre AS empleados_nombre, empleados.apellido AS empleados_apellido, empleados.edad AS empleados_edad, empleados.salario AS empleados_salario, empleados.departamento AS empleados_departamento
FROM empleados
WHERE empleados.nombre = ?
 LIMIT ? OFFSET ?
2025-04-20 22:21:21,326 INFO sqlalchemy.engine.Engine [generated in 0.00086s] ('Carlos', 1, 0)
2025-04-20 22:21:21,328 INFO sqlalchemy.engine.Engine UPDATE empleados SET salario=? WHERE empleados.id = ?
2025-04-20 22:21:21,329 INFO sqlalchemy.engine.Engine [generated in 0.00075s] (65000.0, 1)
2025-04-20 22:21:21,363 INFO sqlalchemy.engine.Engine COMMIT

In [55]:
#eliminar datos
session.delete(empleado)
session.commit()

2025-04-20 22:22:16,934 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-20 22:22:16,936 INFO sqlalchemy.engine.Engine SELECT empleados.id AS empleados_id, empleados.nombre AS empleados_nombre, empleados.apellido AS empleados_apellido, empleados.edad AS empleados_edad, empleados.salario AS empleados_salario, empleados.departamento AS empleados_departamento
FROM empleados
WHERE empleados.id = ?
2025-04-20 22:22:16,937 INFO sqlalchemy.engine.Engine [generated in 0.00125s] (1,)
2025-04-20 22:22:16,939 INFO sqlalchemy.engine.Engine DELETE FROM empleados WHERE empleados.id = ?
2025-04-20 22:22:16,940 INFO sqlalchemy.engine.Engine [generated in 0.00078s] (1,)
2025-04-20 22:22:16,983 INFO sqlalchemy.engine.Engine COMMIT