In [1]:
import pandas as pd
df = pd.read_csv('sales_data.csv')
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,Flatscreen TV,3,84.41,2023-01-01,"570 Main St, New York, NY"
1,176559,Wired Headphones,2,1593.83,2023-01-02,"242 Main St, Portland, OR"
2,176560,Macbook Pro Laptop,2,790.31,2023-01-03,"191 Main St, Los Angeles, CA"
3,176561,Flatscreen TV,4,1274.87,2023-01-04,"453 Main St, New York, NY"
4,176562,Google Phone,2,2270.37,2023-01-05,"933 Main St, Portland, OR"

In [2]:
stats = df.describe()
print(stats)

            Order ID  Quantity Ordered   Price Each
count     100.000000        100.000000   100.000000
mean   176607.500000          2.520000  1248.079900
std        29.011492          1.123487   731.312568
min    176558.000000          1.000000    23.340000
25%    176582.750000          1.000000   609.792500
50%    176607.500000          3.000000  1267.520000
75%    176632.250000          3.000000  1917.617500
max    176657.000000          4.000000  2465.190000

In [3]:
mean_price = df['Price Each'].mean()
median_price = df['Price Each'].median()
print(f"Media del Precio: {mean_price}")
print(f"Mediana del Precio: {median_price}")

Media del Precio: 1248.0799
Mediana del Precio: 1267.52

In [4]:
min_price = df['Price Each'].min()
max_price = df['Price Each'].max()
print(f"Precio mínimo: {min_price}")
print(f"Precio máximo: {max_price}")

Precio mínimo: 23.34
Precio máximo: 2465.19

In [7]:
product_counts = df['Product'].value_counts()
print(product_counts)

Product
Wired Headphones              19
Flatscreen TV                 13
AAA Batteries (4-pack)        13
Bose SoundSport Headphones    13
Macbook Pro Laptop            12
Google Phone                  11
Varely Earbuds                11
USB-C Charging Cable           8
Name: count, dtype: int64

In [8]:
df['City'] = df['Purchase Address'].apply(lambda x: x.split(',')[1].strip())
city_counts = df['City'].value_counts()
print(city_counts)

City
Los Angeles      15
Seattle          14
New York         12
Miami            11
Portland         10
San Francisco     9
Dallas            8
Boston            7
Chicago           7
Phoenix           7
Name: count, dtype: int64

In [9]:
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce')
date_counts = df['Order Date'].dt.month.value_counts().sort_index()
print(date_counts)

Order Date
1    31
2    28
3    31
4    10
Name: count, dtype: int64