In [1]:
import pandas as pd

In [3]:
#uso de delimitadores y separadores
#manipulacion de delimitadores y separadores
df1 = pd.read_csv('archivo1.txt', delimiter=',', skiprows=2)
display(df1.head())

  nombre  edad     ciudad
0   Juan    28     Madrid
1    Ana    22  Barcelona
2   Luis    35   Valencia

In [5]:
#lectura de archivo 2
df2 = pd.read_csv('archivo2.txt', delimiter=';', skiprows=2)
display(df2.head())

   nombre  edad    ciudad
0  Carlos    40   Sevilla
1   María    30    Bilbao
2   Elena    25  Alicante

In [6]:
#lectura de archivo 3
df3 = pd.read_csv('archivo3.txt', delimiter='\t', skiprows=3)
display(df3.head())

  nombre  edad    ciudad
0  Pedro    50  Zaragoza
1  Lucía    45    Málaga
2   Hugo    33   Granada

In [7]:
#lectura de archivo 4
df4 = pd.read_csv('archivo4.txt', delimiter='|', skiprows=2)
display(df4.head())

   nombre  edad     ciudad
0  Andrés    29  Santander
1   Clara    27     Murcia
2     Eva    34    Córdoba

In [9]:
#lectura de archivo 5
#agregar el motor que corre el archivo para no tener problemas con el delimitador
df5 = pd.read_csv('archivo5.txt', delimiter=';;', skiprows=2, engine='python')
display(df5.head())

   nombre  edad     ciudad
0   Laura    38     Oviedo
1   Marta    31   Pamplona
2  Sergio    29  Salamanca