In [1]:
import pandas as pd

In [3]:
datalarge = {
    'Producto': ['A','A','B','B','C','C'],
    'Mes': ['Enero', 'Febrero', 'Enero', 'Febrero', 'Enero', 'Febrero'],
    'Ventas': [100, 150, 200, 250, 300, 350]
}

df_largo = pd.DataFrame(datalarge)
display(df_largo)
#se llama formato largo pq se extiende a travez de multiples filas

  Producto      Mes  Ventas
0        A    Enero     100
1        A  Febrero     150
2        B    Enero     200
3        B  Febrero     250
4        C    Enero     300
5        C  Febrero     350

In [7]:
#convertir a formato ancho
df_ancho = df_largo.pivot(index='Producto', columns='Mes', values='Ventas')
display(df_ancho)

Mes       Enero  Febrero
Producto
A           100      150
B           200      250
C           300      350

In [8]:
#convertir a formato ancho para funciones de agregacion
df_ancho = df_largo.pivot_table(index='Producto', columns='Mes', values='Ventas')
display(df_ancho)

Mes       Enero  Febrero
Producto
A         100.0    150.0
B         200.0    250.0
C         300.0    350.0