In [1]:
import pandas as pd

In [3]:
fechas = pd.to_datetime(['2024-08-01', '2023-12-15', '2025-07-20'])
df = pd.DataFrame({'fecha': fechas})
display(df)

       fecha
0 2024-08-01
1 2023-12-15
2 2025-07-20

In [5]:
#extraer componentes como anio mes y dia
df['year'] = df['fecha'].dt.year
df['month'] = df['fecha'].dt.month
df['day'] = df['fecha'].dt.day
display(df)

       fecha  year  month  day
0 2024-08-01  2024      8    1
1 2023-12-15  2023     12   15
2 2025-07-20  2025      7   20

In [12]:
fechashoras = pd.to_datetime(['2024-08-01 14:30:00', '2023-12-15 09:45:30', '2025-07-20 22:10:15'])
df = pd.DataFrame({'fecha_hora': fechashoras})
display(df)

           fecha_hora
0 2024-08-01 14:30:00
1 2023-12-15 09:45:30
2 2025-07-20 22:10:15

In [13]:
#extraer componentes como hora, minuto y segundos
df['hora'] = df['fecha_hora'].dt.hour
df['minuto'] = df['fecha_hora'].dt.minute
df['segundo'] = df['fecha_hora'].dt.second
display(df)

           fecha_hora  hora  minuto  segundo
0 2024-08-01 14:30:00    14      30        0
1 2023-12-15 09:45:30     9      45       30
2 2025-07-20 22:10:15    22      10       15

In [14]:
#extraer numero del dia de la semana, nombre del dia de la semana o el trimestre
df['diasemananum'] = df['fecha_hora'].dt.weekday
df['diasemananombre'] = df['fecha_hora'].dt.day_name()
df['trimestre'] = df['fecha_hora'].dt.quarter
display(df)

,fecha_hora,hora,minuto,segundo,diasemananum,diasemananombre,trimestre
0,2024-08-01 14:30:00,14,30,0,3,Thursday,3
1,2023-12-15 09:45:30,9,45,30,4,Friday,4
2,2025-07-20 22:10:15,22,10,15,6,Sunday,3

In [16]:
#extraer componentes basados al anio
df['dayofyear'] = df['fecha_hora'].dt.dayofyear
df['weekofyear'] = df['fecha_hora'].dt.isocalendar().week
display(df)

,fecha_hora,hora,minuto,segundo,diasemananum,diasemananombre,trimestre,dayofyear,weekofyear
0,2024-08-01 14:30:00,14,30,0,3,Thursday,3,214,31
1,2023-12-15 09:45:30,9,45,30,4,Friday,4,349,50
2,2025-07-20 22:10:15,22,10,15,6,Sunday,3,201,29

In [17]:
tendenciasdiasemana = df.groupby('diasemananombre').size()
display(tendenciasdiasemana)

diasemananombre
Friday      1
Sunday      1
Thursday    1
dtype: int64