In [1]:
import pandas as pd

In [3]:
fechas = ['2024-08-01', None, '2024-99-99', '2023-12-15']
df = pd.DataFrame({'fecha': fechas})
df['fecha'] = pd.to_datetime(df['fecha'], errors='coerce')
display(df)

       fecha
0 2024-08-01
1        NaT
2        NaT
3 2023-12-15

In [4]:
#relleno de fechas faltantes una vez identificadas las fechas faltantes
df_missing = pd.DataFrame({
    'fecha': pd.to_datetime(['2024-08-01', None, '2024-08-03', None, '2024-08-05'])
})
display(df_missing)

       fecha
0 2024-08-01
1        NaT
2 2024-08-03
3        NaT
4 2024-08-05

In [8]:
#relleno hacia adelante
df_missing['fecha_ffill'] = df_missing['fecha'].ffill()
display(df_missing)

       fecha fecha_ffill
0 2024-08-01  2024-08-01
1        NaT  2024-08-01
2 2024-08-03  2024-08-03
3        NaT  2024-08-03
4 2024-08-05  2024-08-05

In [9]:
#relleno hacia atras
df_missing['fecha_bfill'] = df_missing['fecha'].bfill()
display(df_missing)

       fecha fecha_ffill fecha_bfill
0 2024-08-01  2024-08-01  2024-08-01
1        NaT  2024-08-01  2024-08-03
2 2024-08-03  2024-08-03  2024-08-03
3        NaT  2024-08-03  2024-08-05
4 2024-08-05  2024-08-05  2024-08-05

In [11]:
#rellenar con un valor especifico
df_missing['fechaesp'] = df_missing['fecha'].fillna(pd.Timestamp('2024-01-01'))
display(df_missing)

       fecha fecha_ffill fecha_bfill   fechaesp
0 2024-08-01  2024-08-01  2024-08-01 2024-08-01
1        NaT  2024-08-01  2024-08-03 2024-01-01
2 2024-08-03  2024-08-03  2024-08-03 2024-08-03
3        NaT  2024-08-03  2024-08-05 2024-01-01
4 2024-08-05  2024-08-05  2024-08-05 2024-08-05

In [13]:
#borrar valores faltantes
df_cleaned = df.dropna(subset=['fecha'])
display(df_cleaned)

       fecha
0 2024-08-01
3 2023-12-15

In [15]:
#correccion de fechas erroneas
#validar las fechas despues de las correxiones
df['fecha_corregida'] = df['fecha'].fillna(pd.Timestamp('2024-09-09'))
display(df)
fechas_validas = df['fecha_corregida'].notna()
display(fechas_validas)

       fecha fecha_corregida
0 2024-08-01      2024-08-01
1        NaT      2024-09-09
2        NaT      2024-09-09
3 2023-12-15      2023-12-15

0    True
1    True
2    True
3    True
Name: fecha_corregida, dtype: bool