In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [54]:
df = pd.read_csv('BitcoinHistoricalData.csv')
display(df.head())
# Palabras clave para buscar columnas de máximos y mínimos
etiquetas_high = ['high', 'alto', 'max', 'maximo']
etiquetas_low = ['low', 'bajo', 'min', 'minimo']
# Lista de etiquetas clave esperadas en nombres de columnas
etiquetas_numericas = [ "precio", "cantidad", "piezas", "monto", "total", "valor", "importe", "price", "amount", "quantity", "pieces", "total", "value", "cost"]

         Date      Price       Open       High        Low    Vol. Change %
0  05/14/2025  103,513.9  104,116.3  104,316.0  102,632.9  55.58K   -0.58%
1  05/13/2025  104,119.2  102,794.9  104,972.9  101,510.2  71.91K    1.29%
2  05/12/2025  102,795.0  104,119.2  105,765.2  100,766.8  90.21K   -1.27%
3  05/11/2025  104,119.2  104,748.3  104,930.9  103,358.8  54.76K   -0.65%
4  05/10/2025  104,798.0  102,974.7  104,969.8  102,837.2  48.42K    1.77%

In [55]:
# Buscar columna de fecha y crear df_clean
for col in df.columns:
    convertida = pd.to_datetime(df[col], errors='coerce')
    if convertida.notna().sum() > 0:
        df_clean = pd.DataFrame({col: convertida})
        df_clean.rename(columns={col: "Date"}, inplace=True)
        print(df_clean.head())
        break

        Date
0 2025-05-14
1 2025-05-13
2 2025-05-12
3 2025-05-11
4 2025-05-10

In [56]:
columnacantidad = None
for col in df.columns:
    col_lower = col.lower()
    if any(etiqueta in col_lower for etiqueta in etiquetas_numericas):
        columnacantidad = col
        df_clean['cantidad'] = pd.concat([df[columnacantidad].copy()], axis=1)
        print(df_clean.head())
        break

        Date   cantidad
0 2025-05-14  103,513.9
1 2025-05-13  104,119.2
2 2025-05-12  102,795.0
3 2025-05-11  104,119.2
4 2025-05-10  104,798.0

In [57]:
col_high = None
for col in df.columns:
    col_lower = col.lower()
    if any(etiqueta in col_lower for etiqueta in etiquetas_high):
        col_high = col
        df_clean['maximo'] = pd.concat([df[col_high].copy()], axis=1)
        print(df_clean.head())
        break

        Date   cantidad     maximo
0 2025-05-14  103,513.9  104,316.0
1 2025-05-13  104,119.2  104,972.9
2 2025-05-12  102,795.0  105,765.2
3 2025-05-11  104,119.2  104,930.9
4 2025-05-10  104,798.0  104,969.8

In [58]:
col_low = None
for col in df.columns:
    col_lower = col.lower()
    if any(etiqueta in col_lower for etiqueta in etiquetas_low):
        col_low = col
        df_clean['minimo'] = pd.concat([df[col_low].copy()], axis=1)
        print(df_clean.head())
        break

        Date   cantidad     maximo     minimo
0 2025-05-14  103,513.9  104,316.0  102,632.9
1 2025-05-13  104,119.2  104,972.9  101,510.2
2 2025-05-12  102,795.0  105,765.2  100,766.8
3 2025-05-11  104,119.2  104,930.9  103,358.8
4 2025-05-10  104,798.0  104,969.8  102,837.2

In [59]:
for col in df_clean.columns:
    # Verifica si la columna es de tipo objeto (texto)
    if df_clean[col].dtype == 'object':
        # Verifica si al menos un valor tiene coma
        if df_clean[col].astype(str).str.contains(',').any():
            df_clean[col] = df_clean[col].str.replace(',', '', regex=False)
            # Convierte a numérico si es posible
            df_clean[col] = pd.to_numeric(df_clean[col], errors='coerce')

print("DataFrame limpio:")
print(df_clean.head())

DataFrame limpio:
        Date  cantidad    maximo    minimo
0 2025-05-14  103513.9  104316.0  102632.9
1 2025-05-13  104119.2  104972.9  101510.2
2 2025-05-12  102795.0  105765.2  100766.8
3 2025-05-11  104119.2  104930.9  103358.8
4 2025-05-10  104798.0  104969.8  102837.2