In [1]:
import pandas as pd

In [2]:
fechas = ['2024-08-01', '01/08/2024', 'August 1, 2024', '20240801']
df = pd.DataFrame({'fecha': fechas})
display(df)

            fecha
0      2024-08-01
1      01/08/2024
2  August 1, 2024
3        20240801

In [8]:
df['fecha'] = pd.to_datetime(df['fecha'], format='mixed')
display(df)

       fecha
0 2024-08-01
1 2024-01-08
2 2024-08-01
3 2024-08-01

In [9]:
df['fecha_formateada'] = df['fecha'].dt.strftime('%d-%m-%Y')
display(df)

       fecha fecha_formateada
0 2024-08-01       01-08-2024
1 2024-01-08       08-01-2024
2 2024-08-01       01-08-2024
3 2024-08-01       01-08-2024

In [10]:
df_invalid = pd.DataFrame({'fecha': ['2024-08-01', '01/08/2024', 'August 1, 2024', '2024/99/99']})
df_invalid['fecha'] = pd.to_datetime(df_invalid['fecha'], errors='coerce')
display(df_invalid)

       fecha
0 2024-08-01
1        NaT
2        NaT
3        NaT

In [11]:
df_tz = pd.DataFrame({'fecha': pd.to_datetime(['2024-08-01 12:00:00', '2024-08-02 12:00:00'])})
df_tz = df_tz.set_index('fecha')
df_tz = df_tz.tz_localize('UTC').tz_convert('America/New_York')
display(df_tz)

Empty DataFrame
Columns: []
Index: [2024-08-01 08:00:00-04:00, 2024-08-02 08:00:00-04:00]