In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('datos.csv',delimiter=',',header = 0,nrows = 1)
display(df.head())

  nombre  edad  ciudad
0   Juan    28  Madrid

In [13]:
df1 = pd.read_csv('datos.txt',delimiter='|')
display(df1.head())

  nombre  edad     ciudad
0   Juan    28     Madrid
1    Ana    22  Barcelona

In [14]:
import csv

In [18]:
with open('datos.txt') as file:
    reader = csv.reader(file,delimiter='|')
    for row in reader:
        print(row)

['nombre', 'edad', 'ciudad']
['Juan', '28', 'Madrid']
['Ana', '22', 'Barcelona']

In [ ]:
pd.read_csv('archivo', delimiter='\t')