In [1]:
import pandas as pd

In [2]:
df = pd.read_json('datos.json')
display(df)

  Nombre  Edad     Ciudad
0    Ana    23     Madrid
1   Juan    45  Barcelona
2  Pedro    34   Valencia

In [3]:
json_data = '''
{
    "Nombre": ["Ana", "Juan", "Pedro"],
    "Edad": [23, 45, 34],
    "Ciudad": ["Madrid", "Barcelona", "Valencia"]
}
'''
df = pd.read_json(json_data)
display(df)

/tmp/ipykernel_63957/3889836720.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(json_data)

  Nombre  Edad     Ciudad
0    Ana    23     Madrid
1   Juan    45  Barcelona
2  Pedro    34   Valencia

In [7]:
df.to_json('datos_exportados.json', orient='records')

In [8]:
df.to_json('datos_indentados.json', orient='records', lines=True, indent=4)
df.to_json('datos_precision.json', double_precision=2, orient='records')

In [9]:
df = pd.DataFrame({
    "Nombre": ["Ana", "Juan"],
    "Datos": [{"Edad": 23, "Ciudad": "Madrid"}, {"Edad": 45, "Ciudad": "Barcelona"}]
})

display(df)

  Nombre                                Datos
0    Ana     {'Edad': 23, 'Ciudad': 'Madrid'}
1   Juan  {'Edad': 45, 'Ciudad': 'Barcelona'}

In [10]:
df.to_json('datos_anidados.json', orient='records')