In [1]:
import pandas as pd

In [4]:
df = pd.read_xml('datos.xml')
display(df)

,id,author,title,genre,price,publish_date
0,bk101,"Gambardella, Matthew",XML Developer's Guide,Computer,44.95,2000-10-01
1,bk102,"Ralls, Kim",Midnight Rain,Fantasy,5.95,2000-12-16
2,bk103,"Corets, Eva",Maeve Ascendant,Fantasy,5.95,2000-11-17

In [3]:
! pip install lxml

Collecting lxml
  Downloading lxml-5.3.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Downloading lxml-5.3.0-cp312-cp312-manylinux_2_28_x86_64.whl (4.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 6.9 MB/s eta 0:00:00m eta 0:00:01[36m0:00:010m
Installing collected packages: lxml
Successfully installed lxml-5.3.0

[notice] A new release of pip is available: 24.1.1 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [5]:
df.to_xml('datos_exportados.xml', index=False)

In [6]:
tables = pd.read_html('datos.html')

In [8]:
display(tables[0])

              Producto    CategorÃ­a  Precio
0  Ordenador PortÃ¡til  ElectrÃ³nica   800.0
1      Mesa de Comedor       Muebles   300.0
2     Silla de Oficina       Muebles   120.0

In [9]:
df.to_html('datos_exportados.html', index=False)